# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables
.env

# Ignore VSCode and PyCharm settings
.vscode/
.idea/

